SwissProtDBreader/.vs/SwissProtDBreader/v17/.suo
SwissProtDBreader/SwissProtDBreader/bin/Debug/SwissProtDBreader.exe
SwissProtDBreader/SwissProtDBreader/bin/Debug/SwissProtDBreader.pdb
SwissProtDBreader/SwissProtDBreader/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SwissProtDBreader/SwissProtDBreader/obj/Debug/SwissProtDBreader.csproj.FileListAbsolute.txt
SwissProtDBreader/SwissProtDBreader/obj/Debug/SwissProtDBreader.exe
SwissProtDBreader/SwissProtDBreader/obj/Debug/SwissProtDBreader.pdb
*.csv
